<!DOCTYPE html>
<html lang="tr" dir="ltr">
<head>
    <title>Cukurova Universitesi Kongre Basvuru</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/Template/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Template/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Template/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Template/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Template/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Template/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Template/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Template/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Template/css/util.css">
    <link rel="stylesheet" type="text/css" href="/Template/css/main.css">
    <!--===============================================================================================-->
    <!-- <title>Responsive Navbar | CodingNepal</title> -->
    <link rel="stylesheet" href="/Template/css/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
    
    <nav>
        <div class="topnav" id="myTopnav">
          
            <a href="/Basvuru/Index"><i class="far fa-edit"></i></a>
            <a href="/basvurusorgu">Başvuru Sorgula</a>
            <a href="/Home/Index" class="active">Anasayfa</a>

            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </nav>

    <div class="container-contact100">
        <div class="wrap-contact100">

            @RenderSection("Oturum", false)
            @RenderBody()



        </div>
    </div>

    <div id="dropDownSelect1"></div>


    <!--===============================================================================================-->
    <script src="/Template/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Template/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Template/vendor/bootstrap/js/popper.js"></script>
    <script src="/Template/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Template/vendor/select2/select2.min.js"></script>
    <script>
        $(".selection-2").select2({
            minimumResultsForSearch: 20,
            dropdownParent: $('#dropDownSelect1')
        });
    </script>


    <!--===============================================================================================-->
    <script src="/Template/vendor/daterangepicker/moment.min.js"></script>
    <script src="/Template/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="/Template/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="/Template/js/main.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');

        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>

    @RenderSection("Scripts", required: false)

    @Scripts.Render("~/bundles/jqueryval")





</body>

</html>












