@model KongreForm.Models.Basvuru

@{
    ViewBag.Title = "BasvuruAlindi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="contact100-form validate-form">
    <span class="contact100-form-title">
        Başvuru kodunuz: @Model.BasvuruKodu
    </span>

    <div>
        <span class="label-input100"> Lütfen başvuru kodunuz ve email adresiniz ile sorgu yapınız.  </span>
        <span class="focus-input100"></span>
    </div>


</form>

